.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 500px;
}
.row {
    flex: auto;
    width: 500px;
    display: flex;
}
.square {
    flex: auto;
    
    border: 0.5px solid rgb(151, 64, 64);
}
.hover {
    background-color: aquamarine;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    margin-top: 20px;
    margin-bottom: 30px;
}